---
---

@import "normalize";

/*
	#5CC7F9
	font-family: 'Press Start 2P', cursive;
*/

$lightBlue: #a5ddf7;

*,
*:before,
*:after {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	min-height:100%;
}

html,
body {
	color:#303030;
	font-size:1.1rem;
	line-height:1.4;
	background: #ddebfb;
}

h1, h2, h3, h4 {
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
}

img {
	max-width:100%;
	height:auto;
}

a {
	text-decoration:none;
	color: #4b59d6;
	&:hover,&:focus {
		text-decoration:underline;
	}
}

.container {
	margin: 0 auto;
	max-width: 50em;
}

.header {
	display: flex;
	padding: 1em 0;
}

.menu {
	margin-left: auto;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
	}

	ul > li + li {
		margin-left: 1em;
	}

	a {
		color: #303030;
	}
}

.logo {
	color: #303030;
	font-size: 30px;
	&:hover, &:focus {
		text-decoration: none;
	}
}

.aboutMe {
	padding: 0 0 3em;
}

.pageTitle {
	text-align: center;
	font-size: 64px;
	letter-spacing: 5px;
	line-height: 1;
	padding: 1em 0;
}

.portfolio__items,
.home-portfolio-inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.portfolio-small {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
}

.portfolio-item a {
	display:block;
}

.portfolio-item a:hover img,
.portfolio-item a:focus img {
	border: 3px solid #4b59d6;
}

.footer {
	padding: 2em 0;
}

.socialLink img {
	width: 30px;
	height: auto;
}