---
---

@import "normalize";

$lightBlue: #a5ddf7;

*,
*:before,
*:after {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	border-top: 5px solid $lightBlue;
	min-height:100%;
}

html,
body {
	color:#303030;
	font-size:1.1em;
	line-height:1.3;
}

h1, h2, h3, h4, .aboutMe, .logo {
	font-family: 'Press Start 2P', cursive;
}

img {
	max-width:100%;
	height:auto;
}

a {
	color: #5CC7F9;
	text-decoration:none;
	&:hover,&:focus {
		text-decoration:underline;
	}
}

.container {
	width:44em;
	margin:0 auto;
	padding:0;
	@media (max-width:830px) {
		width:auto;
		padding:0 10px;
	}
}

.menu {
	display: flex;
	align-items: center;
	ul {
		list-style:none;
		overflow:hidden;
		margin:0;
		padding:0;
		display: flex;
	}
	li {
		a {
			display:block;
			color:#303030;
			text-decoration:none;
			padding:7px 0;
			margin-right:20px;
			&:hover, &:active {
				color:#2e85c8;
			}
		}
	}
}

.logo {
	color: #303030;
	padding: 10px 20px 10px 0;
	&:hover, &:active {
		text-decoration: none;
	}
}

.aboutMe {
	background: $lightBlue;
	color: #fff;
	margin-bottom: 20px;
	padding: 20px 0;
	text-align: center;
	p {
		font-size: 24px;
	}
}

.infoBox {
	padding: 1em;
}

.home h2 {
	text-align: center;
	font-size: 3rem;
}

.pageHeader {
	background: $lightBlue;
	margin-bottom: 10px;
	padding: 5px 0;
	h1 {
		margin: 0;
	}
}

.postHeader {
	margin-bottom: 10px;
	h3 {
		margin-bottom: 0;
		a {
			color: #333;
			text-decoration:none;
		}
	}
}

.postImage {
	display: block;
	float: right;
	img {
		padding: 5px;
		background: #404040;
	}
	@media screen and (max-width:1100px) {
		float: none;
	}
}

.meta {
	text-transform: uppercase;
	color: #bbb;
}

.home-portfolio, 
.portfolio {
	border-bottom: 1px solid $lightBlue;
}

.home-portfolio {
	padding-bottom: 2rem;
	margin-bottom: 40px;
}

.home-portfolio-header {
	font-size: 2rem;
	text-align: center;
}

.home-portfolio-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.home-portfolio-item {
	margin-bottom: 20px;
	padding: 0 3rem;
	width: 25%;
}

.post {
	flex-basis: 33%;
}

.footer {
	padding-top:50px;
	display: flex;
	align-items: flex-end;
}

.contact {
	flex-grow: 1;
}

.social {
	text-align: right;
}

.socialLink img {
	width: 100px;
	height: auto;
}

@media (max-width:1000px) {
	.menu {
		flex-direction: column;
		text-align: center;

		li a {
			margin: 0 10px;
		}
	}

	.logo {
		padding: 10px 0;
	}

	.home-portfolio-item {
		width: auto;
	}

	.pageTitle,
	.home h2 {
		font-size: 24px;
	}

	.footer {
		flex-direction: column;
		align-items: flex-start
	}
}