@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import "normalize";

*,
*:before,
*:after {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html,
body {
	height:100%;
}

img {
	max-width:100%;
}

a {
	color:#2e85c8;
	text-decoration:none;
	&:hover,&:focus {
		text-decoration:underline;
	}
}

.container {
	width:600px;
	padding:0 20px;
	margin:0 auto;
	@media screen and (max-width:640px) {
		width:auto;
	}
}

.header {
	h2 {
		float:right;
		clear:right;
	}
}

.title {
	a {
		color:#333;
		text-decoration:none;
	}
}

.menu {
	margin-top:2.3em;
	ul {
		list-style:none;
		margin:0;
		padding: 0;
		overflow:hidden;
	}
	li {
		float:left;
		a {
			color:#333;
			text-decoration:none;
			padding-right:20px;
			&:hover {
				color:#2e85c8;
			}
		}
	}
}

.postHeader {
	margin-top:2px;
	h2,
	h1 {
		margin-bottom:0;
		a {
			color:#333;
			text-decoration:none;
		}
	}
}

.postImage {
	display:block;
	float:right;
	img {
		padding:5px;
		background:#404040;
	}
	@media screen and (max-width:1100px) {
		float:none;
	}
}

.meta {
	text-transform:uppercase;
	color:#bbb;
}

.footer {
	padding-top:50px;
	clear:both;
}
