@import "normalize";

*,
*:before,
*:after {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html,
body {
	color:#404040;
	height:100%;
}

img {
	max-width:100%;
	height:auto;
}

a {
	color:#2e85c8;
	text-decoration:none;
	&:hover,&:focus {
		text-decoration:underline;
	}
}

.header {
	background:#c0ffee;
}

.logo {
	color:#fff;
	display:block;
	font-size:4em;
	font-weight:bold;
	padding: 50px 0;
	text-align:center;
	text-transform:uppercase;
}

.container {
	width:50em;
	margin:0 auto;
	padding:0;
	@media screen and (max-width:640px) {
		width:auto;
	}
}

.menu {
	margin-top:1em;
	ul {
		list-style:none;
		margin:0;
		padding: 0;
		overflow:hidden;
	}
	li {
		float:left;
		a {
			color:#333;
			text-decoration:none;
			padding-right:20px;
			&:hover {
				color:#2e85c8;
			}
		}
	}
}

.content {
	width:50em;
	padding: 0 20px;
}

.pageHeader {
	text-transform:uppercase;
}

.postHeader {
	margin-top:2px;
	h2,
	h1 {
		margin-bottom:0;
		a {
			color:#333;
			text-decoration:none;
		}
	}
}

.postImage {
	display:block;
	float:right;
	img {
		padding:5px;
		background:#404040;
	}
	@media screen and (max-width:1100px) {
		float:none;
	}
}

.meta {
	text-transform:uppercase;
	color:#bbb;
}

.footer {
	padding-top:50px;
	clear:both;
}
