---
layout: default
---

<div class="home">
	<div class="aboutMe">
		<div class="container">
			<p>My name is Daniel Langenakker and I am a front end web developer.</p>
			<p>I know my way around HTML, CSS and jQuery/JavaScript.</p>
		</div>
	</div>
	
	<div class="container">
		<div class="portfolio">
			{% for post in site.categories.portfolio limit:2 %}
			<article class="portfolio-item">
				<div>
					<p>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</p>
					{{post.excerpt}}
				</div>
				<div class="portfolio-item__image">
					<img src="{{ post.thumbnail }}" />
				</div>
			</article>
			{% endfor %}
	  	</div>
	  	<div class="posts">
	      	{% for post in site.categories.blog %}
		      	<article class="post">
		         	<div class="postHeader">
		            	<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		          		<span class="meta">{{ post.date | date: "%d %b %Y"  }}</span>  
		          	</div>
		          	<div>
		        		{{ post.excerpt }}
		      		</div>
		      	</article>
	      	{% endfor %}
		</div>
	</div>
</div>