html,body {
	margin:0;padding:0;
}
body {
	font-size:100%;
	font-family:sans-serif;
	color:#444;
}

h2 {
	color:#333;
	margin-bottom:0;
}

h2 {
	font-family:georgia,serif;
	//border-bottom:1px solid #888;
}

p,ul {
	line-height:1.5em;
}

a {
	color:#5ca1d5;
	&:focus,&:hover {
		text-decoration:none;
	}
}

/*** Nicolas Gallagher's Modern Clearfix ***/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.pageWrap {
	width:50%;
	margin:0 auto;
	padding:0 0 20px;
	@media screen and (max-width: 833px) {
		width:85%;
		padding:0 20px 20px;
	}
	@media screen and (max-width:448px) {
		width:auto;
		padding:0 10px 20px;
	}
}
.section {
	border-bottom:1px solid #5ca1d5;
}

.header {
	text-align:center;
}
.name {
	background:#5ca1d5;
	color:white;
	font-family:serif;
	font-size:1.2em;
	font-weight:bold;
	padding:3px;
}
.workTitle,
.workTime {
	float:left;
	margin-bottom:0;
}
.workTitle {
	width:75%;
}
.workTime {
	width:25%;
	text-align:right;
}
@media screen and (max-width:448px) {
	.workTitle,
	.workTime {
		float:none;
		text-align:left;
		width:auto;
	}
}

.reference {
	width:50%;
	float:left;
}

@media print {
	body {
		font-family:georgia,serif;
	}
	.pageWrap {
		width:auto;
	}
}