!!! 5
%html
	%head
		%meta(charset="utf-8")/
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		%title
			Daniel Langenakkers Resume
		%link{:rel=>"stylesheet", :href=>"css/style.css"}/
	%body
		%div{:class=>"pageWrap"}
			%div{:class=>"header section"}
				%p.name Daniel Langenakker
				%p
					247 Old Sale Road
					%br
					Newborough 3825
					%br
					040 893 2393 or 03 5127 5781
					%br
					%a{:href=>"mailto:dlangenakker@gmail.com"} dlangenakker@gmail.com

			%div.section
				%h2 Objective
				%p To gain full time employment in the multimedia industry where commitment to excellence, working/being part of a fun team and enjoyment of new innovations is required.

			%div.section
				%h2 Summary
				%p Young, hard working and motivated person with a passion for all things IT. I have been fascinated with animation and design since I was in high school. I have excellent interpersonal skills, time management and organisational skills. I am a fun and resourceful team member and also work well alone.

			%div.section
				%h2 Skills and Personal Characteristics
				%h3 Computer Skills
				%ul
					%li Bachelor degree of Information Technology and Systems with a multimedia major
					%li Excellent hardware and network problem solving skills
					%li Very strong knowledge of Microsoft Office Suite and the operating systems Mac OS X, XP, Vista and Windows 7

				%h3 Customer Service
				%ul
					%li Able to work to a fast and efficient pace
					%li Able to multitask effectively
					%li Customer focused person
					%li Outstanding interpersonal skills

				%h3 Organisation Skills
				%ul
					%li Excellent time management and prioritisation skills
					%li Resourceful person with the foresight to get/give help to others to get work load done in a timely manner when needed.
					%li Responsible with the ability to work alone when required

				%h3 Personal Characteristics
				%ul
					%li Good sense of humour
					%li Fast learner
					%li Confident in a small group environment
					%li Patient
					%li Professional
					%li Enthusiastic
					%li Eager to meet challenges
					%li Take great pride in work

			%div.section
				%h2 Work Experience
				%div.group
					%h3.workTitle SISS Business Systems
					%p.workTime 2010 - Current
				%p Website Design and Development, System Design.
				%ul
					%li Design and development of company websites utilizing current web technologies
					%li Design of company business discovery system Uglii including 		integrating code into current design

				%div.group
					%h3.workTitle Computer Technician
					%p.workTime 2007 - Current
				%p Yallourn Bowls Club
				%ul
					%li Setting up and looking after the hardware, and networking computers
					%li Troubleshooting with the computers with computers and electronic equipment
					%li Setting up and maintaining the database and spreadsheets for the club

				%div.group
					%h3.workTitle Retreat Hotel
					%p.workTime 2012
				%p
					Website Design and Development.
					%br
					%a{:href=>"http://www.retreathotel.com.au"} http://www.retreathotel.com.au
				%ul
					%li Redesign of hotels website using WordPress

				%div.group
					%h3.workTitle Yallourn Bowling Club
					%p.workTime 2012
				%p
					Website Design and Development.
					%br
					%a{:href=>"http://yallournbc.com.au"} http://yallournbc.com.au
				%ul
					%li Creation of website for bowling club using WordPress
					%li Upload of weekly newsletter pdf
					%li General maintenance and updating

				%div.group
					%h3.workTitle Bristol Engineering
					%p.workTime 2010
				%p Website Design (one off)
				%ul
					%li Custom designed their website using HTML, CSS, PHP
					%li Programming from scratch to add a shopping cart to the website

				%div.group
					%h3.workTitle Hydro Australia
					%p.workTime 2009
				%p Website and Intranet Design
				%ul
					%li Organising, networking and combining large relational databases
					%li Custom designing for IT needs
					%li Large component of problem solving involved with the set up and design of this project

			%div{:class=>"section group"}
				%h2 Qualifications

				%p.workTitle
					Bachelor Degree in Information Technology and Systems majoring in multimedia
					Monash University
				%p.workTime 2010

				%p.workTitle RSA Certificate
				%p.workTime 2004

			%div.section
				%h2 Other Notable Achievements

				%p First Aid knowledge and certificate gained in Scouts (for which I was a member for 9 years)

			%div{:class=>"section group"}
				%h2 References
				%p.reference
					Ross Beamsley
					%br
					Yallourn Bowls Club Manager
					%br
					03 5127 1913
				%p.reference
					Matthew Butler
					%br
					University Lecturer
					%br
					Monash University
					%br
					03 990 47163
				%p.reference
					Allison Clark
					%br
					Front End Web Developer
					%br
					0437 948 558
					%br
					%a{:href=>"mailto:allisonclark@email.com"} allisonclark@email.com
