<!DOCTYPE html>
<html lang="en">
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				<title>{% if page.title %} {{ page.title }} - {% endif %} {{ site.name }}</title>
				<meta name="viewport" content="width=device-width">

				<!-- syntax highlighting CSS
				<link rel="stylesheet" href="/css/syntax.css">-->

				<!-- Custom CSS -->
				<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
				<link rel="stylesheet" href="/css/style.css">
		</head>
		<body>
			<header class="header">
				<nav class="menu container">
			        <ul>
						<li class="logo"><a href="/">{{ site.name }}</a></li>
			        	<li><a href="/blog">Blog</a></li>
			    	    <li><a href="/portfolio">Portfolio</a></li>
			        </ul>
			    </nav>
		    </header>
			{{ content }}
			<div class="footer container">
				<div class="contact">
					<p>
						Front End Web Developer<br />
						dlangenakker@gmail.com
					</p>
					<div class="contact">
						<p>
							<a href="http://github.com/bubblewrapped/" target="_blank">github.com/bubblewrapped</a><br />
						</p>
					</div>
				</div>
			</div>
		</body>
</html>
